/* color cube  vars*/

$white: white;
$lima: #69BF14;
$demin: #1975C0;
$silverchalice: #AFAEAE;
$shark: #262727;
$dovegray: #6B6B6B;
$sungio: #DD7069;

/* median cut  vars*/

$hippiegreen: #4C8D53;
$mercury: #E9E9E9;
$barleycorn: #9BA05A;
$beaver: #86695A;
$osiogray: #93989B;


/* material design vars*/

$demin2: #1B74C3;
$riverbed: #4D596A;
$lima2: #6BBB14;
$shark2: #292B2F;
$mantis: #8FCE53;

$lightgray: #F2F5F8;